{% extends 'base.html' %}

{% block title %}
      {% with page_title='Reset Password' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block menu %}
      {% with page_title='login' %}
  {{block.super}}
  {% endwith %}
{% endblock %}

{% block content %}
        <div id="fh5co-main">

        <div class="fh5co-narrow-content">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Reset Password</h2>
                    <p class="fh5co-lead animate-box" data-animate-effect="fadeInLeft">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p class="animate-box" data-animate-effect="fadeInLeft"> Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>
                <div class="col-md-6 col-md-push-1 animate-box" data-animate-effect="fadeInLeft">
                    <form action="/reset_password/" method="post">
                        {% csrf_token %}
                    <div class="container">

                        {% for field in form %}
                            <div class="fieldWrapper">

                             <label class="labelNames" for="uname"><b> {{ field.label_tag }} </b></label>

                                 {{ field }} <br>

                            <span class="formErrors" >{{ field.errors }}</span>

                            </div>
                        {% endfor %}

                    <input type="hidden" name="reset_hash" value="{{ reset_hash }}">
                        <div class="col-md-3 col-md-offset-3">
                            <button type="submit" style="">Reset Password</button><br>
                        </div>
                      </div>

                      <div class="container" style="background-color:#f1f1f1;width: auto">

                      </div>
                    </form>
                </div>
            </div>

        </div>

    </div>
{% endblock %}